    <div>
      <div class="navMiddleContainer">
        <div class="navMid"">
          <a href="/"><img
            src="https://media6.ppl-media.com/static/purplle/img/purplle-logo-1.svg"
            id="homePageNavigation"
            alt=""
          /></a>
          <img
            src=" https://media6.ppl-media.com/mediafiles/ecomm/promo/1537798844_try-logo-3x.png"
            id="tryElite"
            alt=""
          />
        </div>
        <div class="navRight">
          <div class="icons" id="wishList"><i class="fas fa-lock"></i> Secure Payment</div>
          <div class="icons" id="signUp"><i class="fas fa-certificate"></i> 100% Genuine Products</div>
          <div class="icons" id="basket"><i class="fas fa-rupee-sign"></i> Cash On Delivery</div>
        </div>
      </div>
    </div>